mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)
doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    link(rel="stylesheet" media="all" href="css/screen.min.css")
    script(src="js/lib.min.js")
    script(src="js/common.min.js")
  body
    script(type="text/javascript").
      !function(e){function t(o){if(n[o])return n[o].exports;var c=n[o]={exports:{},id:o,loaded:!1};return e[o].call(c.exports,c,c.exports,t),c.loaded=!0,c.exports}var n={};return t.m=e,t.c=n,t.p="/assets/",t(0)}({0:function(e,t,n){n(18),n(19)},18:function(e,t){!function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(c))o(localStorage.font_css_cache);else{var e=new XMLHttpRequest;e.open("GET",c,!0),e.onreadystatechange=function(){4===e.readyState&&(o(e.responseText),localStorage.font_css_cache=e.responseText,localStorage.font_css_cache_file=c)},e.send()}else{var n=document.createElement("link");n.href=c,n.rel="stylesheet",n.type="text/css",document.getElementsByTagName("head")[0].appendChild(n),document.cookie="font_css_cache"}}function o(e){var t=document.createElement("style");t.setAttribute("type","text/css"),t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t),window.onFontLoad&&window.onFontLoad()}var c=window.fonts_href||"../css/font.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}()},19:function(e,t){}});
    include includes/_svg-template
    //BEGIN out
    .root
      block content
      include includes/_cap
      script(type="text/javascript").
        var ajx = new Loading();
    //END out